extends layout

block content
  h1= title
  p Welcome to the #{title}. This is a simple tool for trying to find the best deals for school busses, pulling data from craigslist. Thanks, craigslist
  each skoolie in skoolies
    div.post
      p!= skoolie.title
      p!= skoolie.content
      p= skoolie.date
      p #[a(target="_blank", href=skoolie.link) View Bus]
